html, body {
	overflow-x: hidden;
}

.container-full {
	margin: 0 auto;
	width: 100%;
}

.first {
	background: url(./img/starcraft.jpg);
	height: 100vh;
	width: 100vh;
	position: relative;
	z-index: -1;
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-o-filter: blur(1px);
	-ms-filter: blur(1px);
	filter: blur(1px);
}
.navbar-nav li a {
	font-family: "Nunito";
	color: white;
	font-size: 15px;
	text-align: center;
}

.logo-holder {
	z-index: 1;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.logo {
	height: auto;
	width: 60%;
	display: block;
	margin: 0 auto;
}

.logo-holder, iframe {
	text-align: center;
	margin-top: -25px;
}


